*{
    padding: 0;
    margin: 0;
}

.footer{
    display: flex;
    background-color: rgba(33, 39, 47, 1);
    justify-content: center;

    
}
.Mygift{
    display: block;
    padding: 10px;
    
    
}
.profile{
    display: block;
    padding: 10px;
    
}
.profile>a{
    text-decoration: none;
    color:rgba(173, 173, 173, 1);
    font-size: 20px;
    font-weight: bold;
    
}
.Mygift>a{
    text-decoration: none;
    color: rgba(173, 173, 173, 1);
    font-size: 20px;
    font-weight: bold;
}
.main{
    background-color: rgba(33, 39, 47, 1);
    display: grid;
    grid-template-columns: repeat(12,1fr);
    grid-template-rows: repeat(3);
}


.card{
    text-align: center;
    display: block;
    margin-left: 5px;
    margin-right: 5px;
}




